@use '/src/styles/constants/colors';

.favorite {
  position: relative;
  width: 380px;
  height: 750px;
  padding: 40px 40px 15px;
  background-color: colors.$BACKGROUND_COLOR;
  border-radius: 50px;

  h1 {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    color: colors.$BIG_TITLE;
  }

  section {
    margin-top: 40px;
  }

  nav {
    margin-top: 81px;
  }
}
