@use '/src/styles/constants/colors';

.main {
  .profileWrraper {
    position: relative;
  }

  .userName {
    padding-top: 3px;
    font-weight: 500;
    color: colors.$BIG_TITLE;
  }

  .subTitle {
    margin-top: 8px;
    font-size: 12px;
    color: colors.$SUB_TITLE;
  }

  .userImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 43px;
    height: 43px;
    border-radius: 45px;
  }

  section {
    height: 510px;
    margin-top: 25px;
    color: colors.$BIG_TITLE;
  }
}
