@use '/src/styles/constants/colors';

.serchInputWrraper {
  position: relative;
  height: 40px;
  margin-top: 25px;
  background-color: colors.$SUB_COLOR;
  border-radius: 13px;

  .serchIcon {
    position: absolute;
    right: 20px;
    bottom: 13px;
    font-size: 15px;
    color: colors.$BIG_TITLE;
  }

  .serchInput {
    width: 220px;
    padding-left: 20px;
    line-height: 40px;
    color: colors.$BIG_TITLE;
  }
}
