@use '/src/styles/constants/colors';

.nav {
  display: flex;
  margin-top: 20px;

  a {
    flex: 1 1 auto;
    text-align: center;
  }

  svg {
    position: relative;
    font-size: 1.4rem;
    color: colors.$SUB_TITLE;
    transition: all ease 300ms;

    &:hover {
      color: colors.$BIG_TITLE;
    }
  }

  .active {
    color: colors.$BIG_TITLE;
  }
}
